# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [5]:
# Method 1 
l=[1,2,3,4]
l.pop(2)
print(l)

[1, 2, 4]

In [6]:
# Method 2
l=[1,2,3,4]
l.remove(3)
print(l)

[1, 2, 4]

In [9]:
# Method 3
l=[1,2,3,4]
del(l[2])
print(l)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [13]:
a=[2,3,4]
a.insert(0,1)
print(a)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [14]:
a.insert(2,"two-and-half")
print(a)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [36]:
# CODE HERE
text="Don't panic!"
p=list(text)
print(p)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [37]:
p.pop(-1)
p.pop(3)
print(p)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [41]:
list=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
chars_to_remove=['p','a','n','D']
new_list=[char for char in list if char not in chars_to_remove]
new_list.extend(chars_to_remove)
print(new_list)

['o', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [2]:
# CODE HERE
l=['p','a','n','D','a']
p=''.join(l)
print(p)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [57]:
# CODE HERE
nums=(31,24,35,85)
print('datatype', type(nums))
print(nums)

datatype <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [2]:
# CODE HERE
x=(31,24,35,85)
y=list(x)
print(y)
y.remove(35)
print(tuple(y))

[31, 24, 35, 85]
(31, 24, 85)

**Extent** tuple (85,19)

In [6]:
# CODE HERE
a=(31,24,85)
b=(85,19)
c=list(a)
d=list(b)
c.extend(d)
print(tuple(c))

(31, 24, 85, 85, 19)

In [7]:
a=(31,24,85)
b=(85,19)
print(a+b)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [8]:
# CODE HERE
a=('i','n','n','0')
element='i'
if element in a:
    print("True")
else:
    print("false")

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [11]:
# CODE HERE
a= ['Hello',100,[],'innomatics']
a[2]=[200]
print(a)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [25]:
a=("Innomatics")
b=tuple(reversed(a))
print(b)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [34]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
value_to_add=100
a=[]
for i in tpl:
    a.append(tuple(list(i)+[value_to_add]))
    
    
print(a)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [42]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value=100
a=[]
for i in tpl:
    i_list=list(i)
    i_list[-1]=new_value
    a.append(tuple(i_list))
    
    
print(a)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [54]:
a='523665'
b=list(a)
b.sort(reverse=True)
print("second highest =",b[1])

second highest = 6

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [55]:
# CODE HERE
a=[12,24,35,70,88,120,155]
b=[0,4,5]
c=[a[i] for i in range(len(a)) if i not in b]
print(c)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [66]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
c=[]
for i in range(1,6):
    b.append(i)

for i in range(6,len(a)+1):
        c.append(i)

        
print(tuple(b))
print(tuple(c))

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [90]:
a=(1,2,3,4,5,6,7,8,9,10)
b=tuple(num for num in a if num%2==0)
print(b)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution
Lists: lists are declared using [].lists are ordered, indexable and mutable.list allows duplicate values.
Tuple: Tuples are declared using ().Tuple can be indexed but immutable.We cannot edit the data once we declare the tuple.

### 2. Explain the difference between append() and extend() with examples

# Solution
append():append() is used to add a single element to the end of the list
    ex:l=[1,2,3,4,5]
       l.append(7)
       o/p:[1,2,3,4,5,7]
       
 extend():It is used to extend our cuurent list with another list.
      ex:l1=[1,2,3]
         l2=[4,5,6]
         l1.extend(l2)
         o/p:[1,2,3,4,5,6]

### 3. Explain the difference between pop() and remove() with examples

# Solution
pop():Pop() is used to remove the value in list based on the index position if no index value is mentioned,pop() will 
    remove the last value in the list. 
    ex:l=[1,2,3,4]
       l.pop(1)
       o/p:[1,3,4]
    
remove(): Remove() is used to remove the values from list if the value is known but not index.
        ex:a=[1,2,3,4,5,6]
           a.remove(4)
           o/p:[1,2,3,5,6]