###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [2]:
# CODE HERE
s={1,2,"innomatics","hub"}
print(s)

{1, 2, 'innomatics', 'hub'}

> **`Question:` Add element 'Technology' in s**

In [3]:
# CODE HERE
s.add("Technology")
print(s)

{1, 2, 'innomatics', 'Technology', 'hub'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [4]:
# CODE HERE
sc={3,4,"hub","Technology"}
print(sc)

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [7]:
# CODE HERE
print(s-sc)

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [10]:

s={1, 2, 'innomatics', 'Technology', 'hub'}
s.remove(2)
print(s)

{1, 'innomatics', 'Technology', 'hub'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [11]:
# CODE HERE
print(s&sc)

{'hub', 'Technology'}

In [12]:
print(sc&s)

{'hub', 'Technology'}

> **`Question:`Print all element in two sets**

s union sc

In [13]:
# CODE HERE
print(s|sc)

{1, 3, 4, 'innomatics', 'Technology', 'hub'}

In [19]:
print(s.union (sc))

{1, 3, 4, 'innomatics', 'Technology', 'hub'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [22]:
# CODE HERE
fruits = {"orange",'apple','kiwi'}
colors = ['orange','red','green']
fruits.update(colors)
print(fruits)

{'orange', 'kiwi', 'red', 'green', 'apple'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [24]:
# CODE HERE
a={10,20,30,40,50}
b={10,20,30}
a=a-b
print(a)

{40, 50}