###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [3]:
# CODE HERE
person1={"name":"john","location":"nizampet hyderabad","gender":"male","occupation":"Data Scientist"}
person1

{'name': 'john',
 'location': 'nizampet hyderabad',
 'gender': 'male',
 'occupation': 'Data Scientist'}

> print keys in person1 as a list

In [4]:
# CODE HERE
person1.keys()

dict_keys(['name', 'location', 'gender', 'occupation'])

> **`Question:` Remove Location in person1**

In [5]:
# CODE HERE
person1.pop("location")
person1

{'name': 'john', 'gender': 'male', 'occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [7]:
# CODE HERE
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [8]:
person1={"name":"john","location":"nizampet hyderabad","gender":"male","occupation":"Data Scientist"}
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}
print("================ person1 ===============")
print(person1)
print("============= person2 ============")
print(person2)

================ person1 ===============
{'name': 'john', 'location': 'nizampet hyderabad', 'gender': 'male', 'occupation': 'Data Scientist'}
============= person2 ============
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [13]:
# CODE HERE
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

#pop():
a.pop(1)
print(a)

#popitem():
a.popitem()
print(a)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [17]:
# CODE HERE
a={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
b=list(a.values())
print(b)
b.sort(reverse=True)
print(b)

[0, 1, 9, 25, 49, 81]
[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [18]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
{**dict1,**dict2,**dict3}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [23]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [30]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
history_value=sampleDict.get("class").get("student").get("marks").get("history")
print(history_value)

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [32]:
# CODE HERE
a={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
a["Area"]=a["Location"]
del a["Location"]
print(a)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [4]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("enter your username:")
password=int(input("enter your passsword:"))
if username in database and password== database[username]:
    print("Hello ",username)
else:
        choice=input("username and password doesnot match,Do you want me to add into the database?(yes/no):")
        if choice.lower()=="yes":
            new_password=int(input("enter your new password:"))
            database[username]=new_password
            
print("updated database list:",database)

enter your username:ram
enter your passsword:1234
Hello  ram
updated database list: {'ram': 1234, 'raghu': 5678, 'kanav': 1357}

In [5]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("enter your username:")
password=int(input("enter your passsword:"))
if username in database and password== database[username]:
    print("Hello ",username)
else:
        choice=input("username and password doesnot match,Do you want me to add into the database?(yes/no):")
        if choice.lower()=="yes":
            new_password=int(input("enter your new password:"))
            database[username]=new_password
            
print("updated database list:",database)

enter your username:pavan
enter your passsword:1587
username and password doesnot match,Do you want me to add into the database?(yes/no):yes
enter your new password:557
updated database list: {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'pavan': 557}