## Basics of Python

> `Question:` Print your name

In [1]:
# CODE HERE
name="pavan satya kalyan"
print("my name is", name)

my name is pavan satya kalyan

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

#Write here
Variables are the place holder to store the literal values.
It contains only alphabets or underscore from starting only.
There should not be any numerical values at starting.Variables should not be similar to keywords.
There should not be any space between the variables.

In [5]:
# Code for creating a variable
name="pavan satya kalyan"
print(name)
a=234
print(a)

pavan satya kalyan
234

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [25]:
# CODE HERE
width=17
a=width/2
print("width/2 = ", a)
print(type(a))
b=width/2.0
print("width/2.0 = ", b)
print(type(b))
height=12.0
c= height/3
print("height/3 = ", c)
print(type(c))
d=1+2*5
print(d)
print("."*5)

width/2 =  8.5
<class 'float'>
width/2.0 =  8.5
<class 'float'>
height/3 =  4.0
<class 'float'>
11
.....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [34]:
#CODE HERE
first=23
second=45
print("first number is :", first)
print("second_number is :", second)
print("Addition of two number are :", first+second)

first number is : 23
second_number is : 45
Addition of two number are : 68

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [15]:
# CODE HERE
a="Pavan"
b="Satya"
c="Kalyan"
print("My first name is : ", a)
print("My second name is :", b)
print("My third name is :", c)
print("My full name is :", "Pavan"+" " 'Satya'+" " 'Kalyan')

My first name is :  Pavan
My second name is : Satya
My third name is : Kalyan
My full name is : Pavan Satya Kalyan

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [50]:
# CODE HERE
a=10
print("10-",type(a))
b='10'
print("'10'-",type(b))
c=True
print("True-",type(c))
d=10.5
print("10.5-",type(d))

10- <class 'int'>
'10'- <class 'str'>
True- <class 'bool'>
10.5- <class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [14]:
# CODE HERE
a=123
b="456"
c=int(b)
print(c)
d=a+c
print("Addition of 123 and 456 is :",d)

456
Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [13]:
# CODE HERE
r=5
pi=22.0/7.0
volume=4/3*pi*r**3
print(volume)

523.8095238095237

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [12]:
# CODE HERE
cover_price=24.95
discount = 40
shipping_cost_first_copy=3
shipping_cost_additional_copy=0.75
total_copies=60
dis_amount=cover_price* 40/100
print("discount amount per copy=",dis_amount)
cover_price_aft_discount=cover_price-dis_amount
print("cover price after discount per copy=",cover_price_aft_discount)
total_price_first_copy=cover_price_aft_discount + shipping_cost_first_copy
print("total_price_first_copy=",total_price_first_copy)
num_of_additional_copies=total_copies-1
print("num_of_additional_copies=", num_of_additional_copies)
tot_cost_of_additional_copies=num_of_additional_copies*(cover_price_aft_discount+shipping_cost_additional_copy)
print("total_cost_of_additional_copies =",tot_cost_of_additional_copies)
wholesale_cost=total_price_first_copy+ tot_cost_of_additional_copies
print("wholesale_cost=",wholesale_cost)

discount amount per copy= 9.98
cover price after discount per copy= 14.969999999999999
total_price_first_copy= 17.97
num_of_additional_copies= 59
total_cost_of_additional_copies = 927.4799999999999
wholesale_cost= 945.4499999999999